body{
    position:fixed;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
    height:100vh;
    width:100vw;
}
#frame{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    margin:0;
    padding:0;
    overflow: hidden;
    box-sizing: border-box;
    border-style: none;
}